 * {
    box-sizing: border-box;
}

body {
    font-family: DejaVu Sans Mono, monospace;
    margin: 0;
    padding: 0;
    display: flex;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    background-color: #f4f4f4;
    padding: 20px;
    width: 350px;
    height: 165vh;
    min-width: 350px; 
    text-align: center;
    white-space: nowrap;
}

.profile-photo {
    width: 100%;
    border-radius: 50%;
}

.main-content {
    padding: 2px;
    flex-grow: 1;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tab {
    background-color: #f4f4f4;
    border: none;
    padding: 15px 20px;
    margin-right: 2px;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    white-space: nowrap;
}

.tab:last-child {
    margin-right: 0px;
}

.tab:hover {
    background-color: #928c8c;
}

.content-item {
    display: none;
}

.content-item.active {
    display: block;
    padding: 5px 40px 0px 40px;      
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
